.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vh;
  margin: auto;
  flex-direction: column;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  padding: 10px;
}

.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
}

.border-gradient-purple {
  border-image-source: linear-gradient(90deg, #ffac3a 0%, #ff94bb 100%);
}

.password-input{
  border-radius: 8px;
  border: 0;
}

.password-input:focus{
  outline: none;
}
